$font-black:#000000;
$font-header:1.5em;

body{
	padding:0;
	.container{
		.row{
			margin:0;
			[class*="span"]{
				margin:0;
				float:left;
			}
		}
		.span12{
			width:100%;
		}
		#header-wrapper{

		}
		#fullscreen-nav{
			.navbar {
				margin:0;
				min-height:0;
				border: 0 none;
				background-color:transparent;
				.navbar-collapse{
					padding:0;
					#portal-globalnav{
						margin:0;
					}
				}
			}
		}
		#fullscreen-carousel{
			.carousel-banners{
				.carousel-banner{
					.carousel-text{
						width:100%;
					}
				}
			}
		}
		#portal-breadcrumbs{
			margin-top:1em;
		}
		#main{
			.portletWrapper{
				.portlet {
					.portletHeader{
						font-size: $font-header;
					}
					.portletItem{
						#form{
							.form-rows{
								#formfield-form-widgets-price_min{
									width:49%;
									float:left;
									clear:none;
								}
								#formfield-form-widgets-price_max{
									width:49%;
									float:right;
									clear:none;
								}
								.text-widget,.select-widget{
									width:100%;
								}
								.value-range-widget{
									width:49%;
								}
								.separator{
									display:none;
								}
								.option{
									label{
										.label{
											color: $font-black;
										}
									}
								}
								.collapse{
									visibility: visible;
								}
							}
							.formControls{
								text-align:center;
							}
						}
					}
				}
			}
			#listing-search{
				#form{
					.form-rows{
						.text-widget,.select-widget{
							width:100%;
						}
						.separator{
							display:none;
						}
						.option{
							label{
								.label{
									color: $font-black;
								}
							}
						}
						.collapse{
							visibility: visible;
						}
					}
				}
			}
		}
		#footer-wrapper{
			#portal-doormat-wrapper{

			}
			#portal-colophon-wrapper{

			}
		}
	}
}
@media (min-width: 1200px){
	body{
		.container{
			width:1080px;
			#main{
				#left-column.span3{
					width:25%;
					margin-right:1%;
				}
				#right-column.span3{
					width:25%;
					margin-left:1%;
				}
				.span6{
					width:48%;
					margin:0 1% !important
				}
				.span9{
					width:74%;
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:32%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
			}
		}
	}	
}
@media (min-width: 980px) and (max-width:1199px){
	body{
		.container{
			width:870px;
			#main{
				#left-column.span3{
					width:25%;
					margin-right:1%;
				}
				#right-column.span3{
					width:25%;
					margin-left:1%;
				}
				.span6{
					width:48%;
					margin:0 1% !important
				}
				.span9{
					width:74%;
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:32%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	body{
		.container{
			width:680px;
			#main{
				#left-column.span3{
					width:25%;
					margin-right:1%;
				}
				#right-column.span3{
					width:25%;
					margin-left:1%;
				}
				.span6{
					width:48%;
					margin:0 1% !important
				}
				.span9{
					width:74%;
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:49%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 600px) and (max-width: 767px){
	body{
		.container{
			width:100%; 
			padding:0;
			#main{
	        	.span3{
					width:100%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:49%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
} 
@media (min-width: 481px) and (max-width: 599px){
	body{
		.container{
			width:100%;
			padding:0;
			#main{
	        	.span3{
					width:100%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:49%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
}
@media (min-width: 401px) and (max-width: 480px){
	body{
		.container{
			width:100%;
			padding:0;
			#main{
	        	.span3{
					width:100%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:100%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
}
@media (min-width: 321px) and (max-width: 400px){
	body{
		.container{
			width:100%;
			padding:0;
			#main{
	        	.span3{
					width:100%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:100%;
							}
							.value-range-widget{
								width:48%;
							}
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
}
@media (min-width: 241px) and (max-width: 320px){
	body{
		.container{
			width:100%;
			padding:0;
			#main{
	        	.span3{
					width:100%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:100%;
							}
							.value-range-widget{
								width:48%;
							}
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
}
@media (max-width: 240px) {
	body{
		.container{
			width:100%;
			padding:0;
			#main{
	        	.span3{
					width:100%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:100%;
							}
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
}