$font-color-black:#000000;

$font-header:1.5em;
$font-header1:2em;
$font-header2:1.5em;
$font-header3:1.17em;
$font-header4:1em;
$font-header5:.83em;
$font-header6:.75em;
$font-p:1em;
$font-a:1em;
$font-span:1em;
 
$no-color:transparent;

@mixin container-fluid-header-wrapper-when-min-screen-1200px{
    width:1080px;
}
@mixin container-fluid-nav-when-min-screen-1200px{
	width:1080px;
}
@mixin container-fluid-carousel-when-min-screen-1200px{
	width:100%;
}
@mixin container-fluidmove-breadcrumbs-when-min-screen-1200px{
	width:1080px;
}
@mixin container-fluid-main-when-min-screen-1200px{
	width:1080px;
}
@mixin container-fluid-footer-wrapper-when-min-screen-1200px{
	width:100%;
}


@mixin container-fluid-header-wrapper-when-screen-980px-to-1199px{
	width:870px;
}
@mixin container-fluid-nav-when-screen-980px-to-1199px{
	width:870px;
}
@mixin container-fluid-carousel-when-screen-980px-to-1199px{
	width:100%;
}
@mixin container-fluidmove-breadcrumbs-when-screen-980px-to-1199px{
	width:870px;
}
@mixin container-fluid-main-when-screen-980px-to-1199px{
	width:870px;
}
@mixin container-fluid-footer-wrapper-when-screen-980px-to-1199px{
	width:100%;
}


@mixin container-fluid-header-wrapper-when-screen-768px-to-979px{
	width:680px;
}
@mixin container-fluid-nav-when-screen-768px-to-979px{
	width:680px;
}
@mixin container-fluid-carousel-when-screen-768px-to-979px{
	width:100%;
}
@mixin container-fluidmove-breadcrumbs-when-screen-768px-to-979px{
	width:680px;
}
@mixin container-fluid-main-when-screen-768px-to-979px{
	width:680px;
}
@mixin container-fluid-footer-wrapper-when-screen-768px-to-979px{
	width:100%;
}


@mixin header-wrapper-when-fullscreen{
	width:100%;
}
@mixin nav-when-fullscreen{
	width:100%;
}
@mixin carousel-when-fullscreen{
	width:100%;
}


@mixin move-breadcrumbs-when-fullscreen{
	width:100%;
}


@mixin main-when-fullscreen{
	width:100%;
}
@mixin formfield-form-widgets-left{
	clear: none;
	float: left;
	margin-right: 2%;
	width: 49%;
}
@mixin formfield-form-widgets-right{
	clear: none;
	float: left;
	width: 49%;
}
@mixin formfield-form-widgets-select{
	width:100%;
}
@mixin formfield-form-widgets-select-left{
	clear: none;
	float: left;
	margin-right: 2%;
	width: 49%;
}
@mixin formfield-form-widgets-select-right{
	clear: none;
	float: left;
	width: 49%;
}
@mixin formfield-form-widgets-input{
	padding-left: 0;
	padding-right: 0;
	width: 99%;
}


@mixin portalheader-style{
	font-size: $font-header;
	background-color:transparent;
	padding:1%;
}
@mixin portalitem-style{
	padding:1%;
	margin:0;
}


@mixin footer-wrapper-when-fullscreen{
	width:100%;
}

@mixin h1-style{
	color:$font-color-black;
	font-size:$font-header1;
}
@mixin h2-style{
	color:$font-color-black;
	font-size:$font-header2;
}
@mixin h3-style{
	color:$font-color-black;
	font-size:$font-header3;
}
@mixin h4-style{
	color:$font-color-black;
	font-size:$font-header4;
}
@mixin h5-style{
	color:$font-color-black;
	font-size:$font-header5;
}
@mixin h6-style{
	color:$font-color-black;
	font-size:$font-header6;
}
@mixin p-style{
	color:$font-color-black;
	font-size:$font-p;
}
@mixin span-style{
	color:$font-color-black;
	font-size:$font-span;
}
@mixin a-style{
	color:$font-color-black;
	font-size:$font-a;
}
@mixin a-hover-style{
	font-size:$font-a;
}


@mixin header-warpper-style{
	background-color:$no-color;
}


@mixin navbar-style{
	border: 0 none;
	background-color:transparent;
}
@mixin navbar-li-style{
	background-color: #ffffff;
  	border: 0 none;
  	position: relative;
}
@mixin navbar-li-hover-style{
	background-color: #cccccc;
  	border: 0 none;
}
@mixin navbar-li-select-style{
	background-color: #cccccc;
  	border: 0 none;
}
@mixin navbar-li-a-style{
	color:$font-color-black;
	padding:10px;
}


@mixin navbar-li-hover-a-style{
	color:$font-color-black;
}
@mixin navbar-li-hover-submenu-style{
	display:block;
	background-color: #ffffff;
	z-index: 5;
	margin:0;
}
@mixin navbar-li-submenu-li-a-style{
	float: left;
	padding: 9px 10px 11px;
}
@mixin navbar-li-hover-submenu-li-a-style{
	float: left;
	padding: 9px 10px 11px;
	text-decoration: none;
}


@mixin carousel-pager-style{
	bottom: 10px;
    position: absolute;
    width: 100%;
    background-color:transparent;
    height: 20px;
    margin: 0 auto;
    text-align: center;
}
@mixin carousel-pager-a-style{
	background-color: #7e8083;
	background-image: none;
	border: 1px solid #ebebeb;
	height: 15px;
	padding: 0;
	width: 15px;
	border-radius: 50%;
    color: transparent !important;
    display: inline-block;
}
@mixin carousel-pager-a-active-style{
	background-color: #ebebeb;
}
@mixin carousel-image-img-style{
	height:auto !important;
}
@mixin carousel-text-style{
	background-color: #000000;
    bottom: 5%;
    left: auto;
    right: 0;
    width: auto;
}
@mixin carousel-text-span-style{
	color:#fff;
}


@mixin breadcrumbs-style{
	background-color: $no-color;
}
@mixin breadcrumbs-span-style{
	color:$font-color-black;
}
@mixin breadcrumbs-span-a-style{
	color:$font-color-black;
}

@mixin edit-bar-span-style{
	color:#fff;
}

@mixin blockquote-style{
	line-height:1.5em
}


@mixin doormat-container-style{
	background-color: $no-color;
}
@mixin portal-colophon-wrapper-style{
	background-color: $no-color;
}
@mixin portal-colophon-wrapper-p-style{
	color:$font-color-black;
}
@mixin portal-colophon-wrapper-a-style{
	color:$font-color-black;
}
@mixin portal-colophon-wrapper-a-hover-style{
	color:$font-color-black;
}
@mixin portal-colophon-wrapper-span-style{
	color:$font-color-black;
}

body{
	.collapse{
		height:auto;
	}
	.galleria-container img{
		width:auto;
		height:auto;
	}
	div.managePortletsLink, a.managePortletsFallback{
		font-size:1em;
	}
	#btn-row,#btn-column,#btn-export,#btn-save{
		span{
			color:#fff !important;
		}
	}
	ul{
		margin:0;
	}
	padding:0;
	h1{
		@include h1-style;
	}
	h2{
		@include h2-style;
	}
	h3{
		@include h3-style;
	}
	h4{
		@include h4-style;
	}
	h5{
		@include h5-style;
	}
	h6{
		@include h6-style;
	}
	p{
		@include p-style;
	}
	a{
		@include a-style;
	}
	a:hover{
		@include a-hover-style;
	}
	span{
		@include span-style;
	}
	div.container,.container-fluid{
		float: none;
	  	margin: 0 auto;
	  	padding: 0;
		.row{
			float: none;
    		margin: 0 auto;
			[class*="span"]{
				margin:0;
				float:left;
			}
		}
		.span12{
			width:100%;
		}
		#header-wrapper{
			@include header-warpper-style;
			.hiddenStructure{
				display:inline-block;
			}
			#portal-logo{
				float:left;
			}
			.socialheader.toolkit{
				float: right;
			    margin-left: 5%;
			    margin-top: 4%;
			    width: 58%;
				.site_contact_email{
					display: block;
				    float: left;
				    width: 50%;
				}
				.site_contact_phone{
					display: block;
				    float: left;
				    width: 50%;
				}
			}
			#portal-languageselector{
				position: absolute;
			    text-align: center;
			    width: 50px;
				li{
					display:none;
					float:left;
					clear:none;
					width: 100%;
				}
				li.currentLanguage{
					display:block;
				}
			}
			#portal-languageselector:hover{
				li{
					display:block;
				}
			}
		}
		#fullscreen-nav{
			.navbar {
				margin:0;
				min-height:0;
				@include navbar-style;
				.nav-collapse{
					padding:0;
					float:left;
					.navbar-nav{
						margin:0;
						li{
							@include navbar-li-style;
  							a{
  								@include navbar-li-a-style;
  							}
  							ul.submenu{
  								li{
  									width: 100%;
  									a{
	  									@include navbar-li-submenu-li-a-style;
	  									img{
	  										display:none;
	  									}
	    							}
	    						}
	    					}
						}
						li:hover{
  							@include navbar-li-hover-style;
  							a{
  								@include navbar-li-hover-a-style;
  							}
  							ul.submenu{
  								@include navbar-li-hover-submenu-style;
  								li{
  									float:left;
  									width: 100%;
  									a{
	  									@include navbar-li-hover-submenu-li-a-style;
	  									img{
	  										display:none;
	  									}
	    							}
  								}
  							}
  						}
  						li.selected{
  							@include navbar-li-select-style;
  						}
					} 
				}
				#portal-searchbox{
					margin-bottom:0;
					margin-top: 11px;
					text-align: right;
					form{
						margin:0;
						#searchGadget, .LSBox input.searchButton{
							margin:0;
						}
						.searchButton{
							padding: 2px;
						}
						.LSBox {
							.searchSection {
						   		display: none;
							}
						}
					}
				}
			}
		}
		#fullscreen-carousel{
			.carousel{
				margin-bottom:0;
				.carousel-banners{
				position: relative;
				max-width: 100%;
				.carousel-banner{
					height: auto !important;
    				max-width: 100%;
					.carousel-image{
						img{
							@include carousel-image-img-style;
						}
					}
					.carousel-text{
						@include carousel-text-style;
  						span{
  							@include carousel-text-span-style;
  						}
					}
				}
			}
		}
			.carousel-pager{
				@include carousel-pager-style; 
				a{
					@include carousel-pager-a-style;
				}
				a.carousel-pager-item-active{
					@include carousel-pager-a-active-style;
				}
			}
		}
		#portal-breadcrumbs{
			margin-top:1em;
			@include breadcrumbs-style;
			span{
				@include breadcrumbs-span-style;
				a{
					@include breadcrumbs-span-a-style;
				}
			}
		}
		#main{
			#edit-bar{
				.actionMenuSelected{
					span{
						color:$font-color-black;
					}
				}
				span{
					@include edit-bar-span-style;
				}
				#contentActionMenus{
					dl.actionMenu{ 
						.actionMenuContent{
							a{
								span{
									
								}
							}
							a:hover{
								span{
									color:$font-color-black;
								}
							}
						}
					}
				}
			}
			label{
				display:inline-block;
				span{
					font-weight: normal;
					text-shadow: unset;
				}
			}
			img{
				max-width:100%;
			}
			#content{
				h1{
					@include h1-style;
				}
				h2{
					@include h2-style;
				}
				h3{
					@include h3-style;
				}
				h4{
					@include h4-style;
				}
				h5{
					@include h5-style;
				}
				h6{
					@include h6-style;
				}
				p{
					@include p-style;
				}
				a{
					@include a-style;
				}
				a:hover{
					@include a-hover-style;
				}
				span{
					@include span-style;
				}
				.option{
					input {
						display: inline-block;
    					position: absolute;
    				}
					span{
						display: inline-block;
						padding-left: 18px;
					    white-space: unset;
					    width: 90%;
					}
				}
				.listing-collection-tile{
					.collection-item {
					    float: left;
					    margin-bottom: 1.5em;
					    overflow: hidden;
					    position:relative;
					}
					.tile-footer {
					    bottom: 0;
					    position: absolute;
					    right: 0;
					    text-align: right;
					}
				    h2{
				    	display:none;
				    	position:absolute;
				    	margin: 5px;
					    top: 5px;
					    padding:5px;
				    	a,a:hover{
				    		color:#fff !important;
				    	}
				    }
				    .item{
				    	width:100%;
				    	float:left;
				    }
				    figure{
				    	min-height:168px;
				    }
				}
				.listing-collection-tile .collection-item:hover {
				    h2{
				    	display:block;
				    	background-color: rgba(0, 0, 0, 0.5);
				    }
				}
				.listing-search-tile{
					#form{
						#formfield-form-widgets-location_county{
						    @include formfield-form-widgets-left;
						    select{
						    	@include formfield-form-widgets-select;
						    }
						}
						#formfield-form-widgets-location_district{
							@include formfield-form-widgets-right;
						    select{
						    	@include formfield-form-widgets-select;
						    }
						}
						#formfield-form-widgets-beds{
							@include formfield-form-widgets-left;
						    select#form-widgets-beds-min{
						    	@include formfield-form-widgets-select-left;
						    }
						    .separator{
						    	display:none;
						    }
						    select#form-widgets-beds-max{
						    	@include formfield-form-widgets-select-right;
						    }
						}
						#formfield-form-widgets-baths{
							@include formfield-form-widgets-right;
						    select#form-widgets-baths-min{
						    	@include formfield-form-widgets-select-left;
						    }
						    .separator{
						    	display:none;
						    }
						    select#form-widgets-baths-max{
						    	@include formfield-form-widgets-select-right;
						    }
						}
						#formfield-form-widgets-price_min{
							@include formfield-form-widgets-left;
						    input{
						    	@include formfield-form-widgets-input;
						    }
						}
						#formfield-form-widgets-price_max{
							@include formfield-form-widgets-right;
						    input{
						    	@include formfield-form-widgets-input;
						    }
						}
						#formfield-form-widgets-lot_size{
							@include formfield-form-widgets-left;
						    select#form-widgets-lot_size-min{
						    	@include formfield-form-widgets-select-left;
						    }
						    .separator{
						    	display:none;
						    }
						    select#form-widgets-lot_size-max{
						    	@include formfield-form-widgets-select-right;
						    }
						}
						#formfield-form-widgets-interior_area{
							@include formfield-form-widgets-right;
						    select#form-widgets-interior_area-min{
						    	@include formfield-form-widgets-select-left;
						    }
						    .separator{
						    	display:none;
						    }
						    select#form-widgets-interior_area-max{
						    	@include formfield-form-widgets-select-right;
						    }
						}
						#formfield-form-widgets-location_city{
							@include formfield-form-widgets-left;
						    input{
						    	@include formfield-form-widgets-input;
						    }
						}
						#formfield-form-widgets-location_state{
							@include formfield-form-widgets-right;
						    select{
						    	@include formfield-form-widgets-select;
						    }
						}
						.field{
							overflow:auto;
						}
						#formfield-form-widgets-location_county,
						#formfield-form-widgets-location_district,
						#formfield-form-widgets-beds,
						#formfield-form-widgets-baths,
						#formfield-form-widgets-price_min,
						#formfield-form-widgets-price_max,
						#formfield-form-widgets-lot_size,
						#formfield-form-widgets-interior_area,
						#formfield-form-widgets-location_city{
							float:left;
						}
						.option{
							float:left;
						}
					}
				}
			}
			.listing.detail{
				#listing-info{
					float:right;
				}
				#listing-images{
				}
				blockquote{
					@include blockquote-style;
				}
			}
			.portletWrapper{
				.portletAgentContact{
					.field input[type="text"] {
					    padding-left: 0;
					    padding-right: 0;
					    width: 100%;
					}
				}
				.portlet {
					.portletHeader{
						@include portalheader-style;
					}
					.portletItem{
						@include portalitem-style;
						#form{
							.form-rows{
								#formfield-form-widgets-price_min{
									width:49%;
									float:left;
									clear:none;
								}
								#formfield-form-widgets-price_max{
									width:49%;
									float:right;
									clear:none;
								}
								.text-widget{
									padding-left: 0;
								    padding-right: 0;
								    width: 99%;
								}
								.select-widget{
									width:100%;
								}
								.value-range-widget{
									width:49%;
								}
								.separator{
									display:none;
								}
								.option{
									label{
										.label{
											color: $font-color-black;
											vertical-align: text-top;
										}
									}
								}
								.collapse{
									visibility: visible;
								}
							}
							.formControls{
								text-align:center;
							}
						}
					}
				}
				.portletNews{
					.portletHeader{
						a{
							color:$font-color-black !important;
							text-decoration: none;
						}
					}
					.portletItem{
						.news-title{
							a{
								text-decoration: none;
								h3{
									 font-weight: normal;
								}
							}
						}
						.news-image{
							float: left;
							margin-right: 10px;
							max-width: 100%;
						}
						.news-description{
							a{
								border: 0 none;
    							color: $font-color-black;
							}
							a:hover{
								border:0 none;
								color:$font-color-black !important;
								text-decoration: none;
							}
						}
					}
				}
			}
			#listing-search{
				#form{
					.form-rows{
						.text-widget,.select-widget{
							width:100%;
						}
						.separator{
							display:none;
						}
						.option{
							label{
								.label{
									color: $font-color-black;
								}
							}
						}
						.collapse{
							visibility: visible;
						}
					}
				}
			}
		}
		#footer-wrapper{
			#doormat-container{
					@include doormat-container-style;
					.doormatColumn{
						margin:0 1%;
					}
			}
			#portal-colophon{
				@include portal-colophon-wrapper-style;
				p{
					@include portal-colophon-wrapper-p-style
				}
				a{
					@include portal-colophon-wrapper-a-style
				}
				a:hover{
					@include portal-colophon-wrapper-a-hover-style
				}
				span{
					@include portal-colophon-wrapper-span-style
				}
			}
		}
	}
}
@media (min-width: 1200px){
	body{
		.nav-collapse{
			width:78%;
		}
		#portal-searchbox{
		 	width:22%;
		}
		#portal-personaltools{
			right:6%;
		}
		.container{
			width:1080px;
		}
		.container-fluid{
			#header-wrapper{
				@include container-fluid-header-wrapper-when-min-screen-1200px;
			}
			#fullscreen-nav{
				@include container-fluid-nav-when-min-screen-1200px;
			}
			#fullscreen-carousel{
				@include container-fluid-carousel-when-min-screen-1200px;
			}
			#move-breadcrumbs{
				@include container-fluidmove-breadcrumbs-when-min-screen-1200px;
			}
			#main{
				@include container-fluid-main-when-min-screen-1200px;
			}
			#footer-wrapper{
				@include container-fluid-footer-wrapper-when-min-screen-1200px;
			}
		}
		.container,.container-fluid{
			#main{
				.listing-collection-tile .collection-item {
				    margin-right: 3%;
				    max-height: 390px;
				    min-height: 390px;
				    width: 30%;
				}
				#left-column.span3{
					width:25%;
					margin-right:1%;
				}
				#right-column.span3{
					width:25%;
					margin-left:1%;
				}
				.span6{
					width:48%;
				}
				.span9{
					width:74%;
				}
				.listing.detail{
					#listing-info{
						width:45%;
					}
					#listing-images{

					}
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:29%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
				.listing-search-tile{
					#form{
						.option{
							width:32%;
						}
					}
				}
			}
		}
	}	
}
@media (min-width: 980px) and (max-width:1199px){
	body{
		.nav-collapse{
			width:78%;
		}
		#portal-searchbox{
		 	width:22%;
		}
		#portal-personaltools{
			right:7.3%;
		}
		.container{
			width:870px;
		}
		.container-fluid{
			#header-wrapper{
				@include container-fluid-header-wrapper-when-screen-980px-to-1199px;
			}
			#fullscreen-nav{
				@include container-fluid-nav-when-screen-980px-to-1199px;
			}
			#fullscreen-carousel{
				@include container-fluid-carousel-when-screen-980px-to-1199px;
			}
			#move-breadcrumbs{
				@include container-fluidmove-breadcrumbs-when-screen-980px-to-1199px;
			}
			#main{
				@include container-fluid-main-when-screen-980px-to-1199px;
			}
			#footer-wrapper{
				@include container-fluid-footer-wrapper-when-screen-980px-to-1199px;
			}
		}
		.container,.container-fluid{
			#main{
				.listing-collection-tile .collection-item {
				    margin-right: 3%;
				    max-height: 390px;
				    min-height: 390px;
				    width: 30%;
				}
				#left-column.span3{
					width:25%;
					margin-right:1%;
				}
				#right-column.span3{ 
					width:25%;
					margin-left:1%;
				}
				.span6{
					width:48%;
				}
				.span9{
					width:74%;
				}
				.listing.detail{
					#listing-info{
						margin-top: 440px;
    					width: 100%;
					}
					#listing-images{
						position: absolute;
    					width: 100%;
					}
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:29%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
				.listing-search-tile{
					#form{
						.option{
							width:32%;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 769px) and (max-width: 979px) {
	body{
		.socialheader.toolkit{
			display:none;
		}
		.nav-collapse{
			width:100%;
		}
		#portal-personaltools{
			right:9.4%;
		}
		.container{
			width:680px;
		}
		.container-fluid{
			#header-wrapper{
				@include container-fluid-header-wrapper-when-screen-768px-to-979px;
			}
			#fullscreen-nav{
				@include container-fluid-nav-when-screen-768px-to-979px;
			}
			#fullscreen-carousel{
				@include container-fluid-carousel-when-screen-768px-to-979px;
			}
			#move-breadcrumbs{
				@include container-fluidmove-breadcrumbs-when-screen-768px-to-979px;
			}
			#main{
				@include container-fluid-main-when-screen-768px-to-979px;
			}
			#footer-wrapper{
				@include container-fluid-footer-wrapper-when-screen-768px-to-979px;
			}
		}
		.container,.container-fluid{
			#main{
				.listing-collection-tile .collection-item {
				    margin-right: 3%;
				    max-height: 390px;
				    min-height: 390px;
				    width: 47%;
				}
				#left-column.span3{
					width:25%;
					margin-right:1%;
				}
				#right-column.span3{
					width:25%;
					margin-left:1%;
				}
				.span6{
					width:48%;
				}
				.span9{
					width:74%;
				}
				.listing.detail{
					#listing-info{
						margin-top: 440px;
    					width: 100%;
					}
					#listing-images{
						position: absolute;
    					width: 100%;
					}
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:49%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
				.listing-search-tile{
					#form{
						.option{
							width:49%;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 600px) and (max-width: 768px){
	body{
		.socialheader.toolkit{
			display:none;
		}
		.nav-collapse{
			width:100%;
		}
		#portal-personaltools{
			margin-right: 65px;
		}
		.container,.container-fluid{
			width:100%; 
			padding:0;
			#header-wrapper{
				@include header-wrapper-when-fullscreen;
			}
			#fullscreen-nav{
				@include nav-when-fullscreen;
			}
			#fullscreen-carousel{
				@include carousel-when-fullscreen;
			}
			#move-breadcrumbs{
				@include move-breadcrumbs-when-fullscreen;
			}
			#footer-wrapper{
				@include footer-wrapper-when-fullscreen;
			}
			#main{
				.listing-collection-tile .collection-item {
				    margin-right: 3%;
				    max-height: 390px;
				    min-height: 390px;
				    width: 47%;
				}
				@include main-when-fullscreen;
	        	.span3{
					width:50%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing.detail{
					#listing-info{
						margin-top: 440px;
    					width: 100%;
					}
					#listing-images{
						position: absolute;
    					width: 100%;
					}
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:49%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
				.listing-search-tile{
					#form{
						.option{
							width:49%;
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
} 
@media (min-width: 481px) and (max-width: 599px){
	body{
		.socialheader.toolkit{
			display:none;
		}
		.nav-collapse{
			width:100%;
		}
		#portal-personaltools{
			margin-right: 65px;
		}
		.container,.container-fluid{
			width:100%;
			padding:0;
			#header-wrapper{
				@include header-wrapper-when-fullscreen;
			}
			#fullscreen-nav{
				@include nav-when-fullscreen;
			}
			#fullscreen-carousel{
				@include carousel-when-fullscreen;
			}
			#move-breadcrumbs{
				@include move-breadcrumbs-when-fullscreen;
			}
			#footer-wrapper{
				@include footer-wrapper-when-fullscreen;
			}
			#main{
				.listing-collection-tile .collection-item {
				    margin-right: 3%;
				    max-height: 390px;
				    min-height: 390px;
				    width: 47%;
				}
				@include main-when-fullscreen;
	        	.span3{
					width:50%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing.detail{
					#listing-info{
						margin-top: 440px;
    					width: 100%;
					}
					#listing-images{
						position: absolute;
    					width: 100%;
					}
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:49%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
				.listing-search-tile{
					#form{
						.option{
							width:49%;
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
}
@media (min-width: 401px) and (max-width: 480px){
	body{
		#portal-logo{
			display: block;
			margin-left:8px;
		}
		.socialheader.toolkit{
			display:none;
		}
		.nav-collapse{
			width:100%;
		}
		#portal-personaltools{
			margin-right: 65px;
		}
		.container,.container-fluid{
			width:100%;
			padding:0;
			#header-wrapper{
				@include header-wrapper-when-fullscreen;
			}
			#fullscreen-nav{
				@include nav-when-fullscreen;
			}
			#fullscreen-carousel{
				@include carousel-when-fullscreen;
			}
			#move-breadcrumbs{
				@include move-breadcrumbs-when-fullscreen;
			}
			#footer-wrapper{
				@include footer-wrapper-when-fullscreen;
			}
			#main{
				.listing-collection-tile .collection-item {
				    mwidth: 100%;
				}
				@include main-when-fullscreen;
	        	.span3{
					width:100%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing.detail{
					#listing-info{
						margin-top: 440px;
    					width: 100%;
					}
					#listing-images{
						position: absolute;
    					width: 100%;
					}
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:100%;
							}
							.value-range-widget{
								width:49%;
							}
						}
					}
				}
				.listing-search-tile{
					#form{
						.option{
							width:100%;
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
}
@media (min-width: 321px) and (max-width: 400px){
	body{
		#portal-logo{
			display: block;
			margin-left:8px;
		}
		.socialheader.toolkit{
			display:none;
		}
		.nav-collapse{
			width:100%;
		}
		#portal-personaltools{
			margin-right: 65px;
		}
		.container,.container-fluid{
			width:100%;
			padding:0;
			#header-wrapper{
				@include header-wrapper-when-fullscreen;
			}
			#fullscreen-carousel{
				@include carousel-when-fullscreen;
			}
			#move-breadcrumbs{
				@include move-breadcrumbs-when-fullscreen;
			}
			#footer-wrapper{
				@include footer-wrapper-when-fullscreen;
			}
			#fullscreen-nav{
				@include nav-when-fullscreen;
				.navbar {
					.navbar-collapse{
						border:0 none;
						.navbar-nav{
							margin:0;
							li{
								width:100%;
							}
						}
					}
				}
			}
			#main{
				.listing-collection-tile .collection-item {
				    width: 100%;
				}
				@include main-when-fullscreen;
	        	.span3{
					width:100%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing.detail{
					#listing-info{
						margin-top: 440px;
    					width: 100%;
					}
					#listing-images{
						position: absolute;
    					width: 100%;
					}
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:100%;
							}
							.value-range-widget{
								width:48%;
							}
						}
					}
				}
				.listing-search-tile{
					#form{
						.option{
							width:100%;
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
}
@media (min-width: 241px) and (max-width: 320px){
	body{
		#portal-logo{
			display: block;
			margin-left:8px;
		}
		.socialheader.toolkit{
			display:none;
		}
		.nav-collapse{
			width:100%;
		}
		#portal-personaltools{
			margin-right: 65px;
		}
		.container,.container-fluid{
			width:100%;
			padding:0;
			#header-wrapper{
				@include header-wrapper-when-fullscreen;
			}
			#fullscreen-carousel{
				@include carousel-when-fullscreen;
			}
			#move-breadcrumbs{
				@include move-breadcrumbs-when-fullscreen;
			}
			#footer-wrapper{
				@include footer-wrapper-when-fullscreen;
			}
			#fullscreen-nav{
				@include nav-when-fullscreen;
				.navbar {
					.navbar-collapse{
						border:0 none;
						.navbar-nav{
							margin:0;
							li{
								width:100%;
							}
						}
					}
				}
			}
			#main{
				.listing-collection-tile .collection-item {
				    width: 100%;
				}
				@include main-when-fullscreen;
	        	.span3{
					width:100%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing.detail{
					#listing-info{
						margin-top: 440px;
    					width: 100%;
					}
					#listing-images{
						position: absolute;
    					width: 100%;
					}
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:100%;
							}
							.value-range-widget{
								width:48%;
							}
						}
					}
				}
				.listing-search-tile{
					#form{
						.option{
							width:100%;
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
}
@media (max-width: 240px) {
	body{
		#portal-logo{
			display: block;
			margin-left:8px;
		}
		.socialheader.toolkit{
			display:none;
		}
		.nav-collapse{
			width:100%;
		}
		#portal-personaltools{
			margin-right: 65px;
		}
		.container,.container-fluid{
			width:100%;
			padding:0;
			#header-wrapper{
				@include header-wrapper-when-fullscreen;
			}
			#fullscreen-carousel{
				@include carousel-when-fullscreen;
			}
			#move-breadcrumbs{
				@include move-breadcrumbs-when-fullscreen;
			}
			#footer-wrapper{
				@include footer-wrapper-when-fullscreen;
			}
			#fullscreen-nav{
				@include nav-when-fullscreen;
				.navbar {
					.navbar-collapse{
						border:0 none;
						.navbar-nav{
							margin:0;
							li{
								width:100%;
							}
						}
					}
				}
			}
			#main{
				.listing-collection-tile .collection-item {
				    width: 100%;
				}
				@include main-when-fullscreen;
	        	.span3{
					width:100%;
				}
				.span6{
					width:100%;
				}
				.span9{
					width:100%;
				}
				.listing.detail{
					#listing-info{
						margin-top: 440px;
    					width: 100%;
					}
					#listing-images{
						position: absolute;
    					width: 100%;
					}
				}
				.listing-summary{
					#search-form{
						form{ 
							span.option{
								width:100%;
							}
						}
					}
				}
				.listing-search-tile{
					#form{
						.option{
							width:100%;
						}
					}
				}
			}
			.portletWrapper{
				#form-widgets-interior_area-max,#form-widgets-lot_size-max,#form-widgets-baths-max,#form-widgets-beds-max{
					float:right;
				}
			}
		}
	}
}