/* line 4, ../sass/index.scss */
body {
  padding: 0;
}
/* line 7, ../sass/index.scss */
body .container .row {
  margin: 0;
}
/* line 9, ../sass/index.scss */
body .container .row [class*="span"] {
  margin: 0;
  float: left;
}
/* line 14, ../sass/index.scss */
body .container .span12 {
  width: 100%;
}
/* line 21, ../sass/index.scss */
body .container #fullscreen-nav .navbar {
  margin: 0;
  min-height: 0;
  border: 0 none;
  background-color: transparent;
}
/* line 26, ../sass/index.scss */
body .container #fullscreen-nav .navbar .navbar-collapse {
  padding: 0;
}
/* line 28, ../sass/index.scss */
body .container #fullscreen-nav .navbar .navbar-collapse #portal-globalnav {
  margin: 0;
}
/* line 37, ../sass/index.scss */
body .container #fullscreen-carousel .carousel-banners .carousel-banner .carousel-text {
  width: 100%;
}
/* line 43, ../sass/index.scss */
body .container #portal-breadcrumbs {
  margin-top: 1em;
}
/* line 49, ../sass/index.scss */
body .container #main .portletWrapper .portlet .portletHeader {
  font-size: 1.5em;
}
/* line 55, ../sass/index.scss */
body .container #main .portletWrapper .portlet .portletItem #form .form-rows #formfield-form-widgets-price_min {
  width: 49%;
  float: left;
  clear: none;
}
/* line 60, ../sass/index.scss */
body .container #main .portletWrapper .portlet .portletItem #form .form-rows #formfield-form-widgets-price_max {
  width: 49%;
  float: right;
  clear: none;
}
/* line 65, ../sass/index.scss */
body .container #main .portletWrapper .portlet .portletItem #form .form-rows .text-widget, body .container #main .portletWrapper .portlet .portletItem #form .form-rows .select-widget {
  width: 100%;
}
/* line 68, ../sass/index.scss */
body .container #main .portletWrapper .portlet .portletItem #form .form-rows .value-range-widget {
  width: 49%;
}
/* line 71, ../sass/index.scss */
body .container #main .portletWrapper .portlet .portletItem #form .form-rows .separator {
  display: none;
}
/* line 76, ../sass/index.scss */
body .container #main .portletWrapper .portlet .portletItem #form .form-rows .option label .label {
  color: #000000;
}
/* line 81, ../sass/index.scss */
body .container #main .portletWrapper .portlet .portletItem #form .form-rows .collapse {
  visibility: visible;
}
/* line 85, ../sass/index.scss */
body .container #main .portletWrapper .portlet .portletItem #form .formControls {
  text-align: center;
}
/* line 95, ../sass/index.scss */
body .container #main #listing-search #form .form-rows .text-widget, body .container #main #listing-search #form .form-rows .select-widget {
  width: 100%;
}
/* line 98, ../sass/index.scss */
body .container #main #listing-search #form .form-rows .separator {
  display: none;
}
/* line 103, ../sass/index.scss */
body .container #main #listing-search #form .form-rows .option label .label {
  color: #000000;
}
/* line 108, ../sass/index.scss */
body .container #main #listing-search #form .form-rows .collapse {
  visibility: visible;
}

@media (min-width: 1200px) {
  /* line 127, ../sass/index.scss */
  body .container {
    width: 1080px;
  }
  /* line 130, ../sass/index.scss */
  body .container #main #left-column.span3 {
    width: 25%;
    margin-right: 1%;
  }
  /* line 134, ../sass/index.scss */
  body .container #main #right-column.span3 {
    width: 25%;
    margin-left: 1%;
  }
  /* line 138, ../sass/index.scss */
  body .container #main .span6 {
    width: 48%;
    margin: 0 1% !important;
  }
  /* line 142, ../sass/index.scss */
  body .container #main .span9 {
    width: 74%;
  }
  /* line 148, ../sass/index.scss */
  body .container #main .listing-summary #search-form form span.option {
    width: 32%;
  }
  /* line 151, ../sass/index.scss */
  body .container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  /* line 163, ../sass/index.scss */
  body .container {
    width: 870px;
  }
  /* line 166, ../sass/index.scss */
  body .container #main #left-column.span3 {
    width: 25%;
    margin-right: 1%;
  }
  /* line 170, ../sass/index.scss */
  body .container #main #right-column.span3 {
    width: 25%;
    margin-left: 1%;
  }
  /* line 174, ../sass/index.scss */
  body .container #main .span6 {
    width: 48%;
    margin: 0 1% !important;
  }
  /* line 178, ../sass/index.scss */
  body .container #main .span9 {
    width: 74%;
  }
  /* line 184, ../sass/index.scss */
  body .container #main .listing-summary #search-form form span.option {
    width: 32%;
  }
  /* line 187, ../sass/index.scss */
  body .container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 199, ../sass/index.scss */
  body .container {
    width: 680px;
  }
  /* line 202, ../sass/index.scss */
  body .container #main #left-column.span3 {
    width: 25%;
    margin-right: 1%;
  }
  /* line 206, ../sass/index.scss */
  body .container #main #right-column.span3 {
    width: 25%;
    margin-left: 1%;
  }
  /* line 210, ../sass/index.scss */
  body .container #main .span6 {
    width: 48%;
    margin: 0 1% !important;
  }
  /* line 214, ../sass/index.scss */
  body .container #main .span9 {
    width: 74%;
  }
  /* line 220, ../sass/index.scss */
  body .container #main .listing-summary #search-form form span.option {
    width: 49%;
  }
  /* line 223, ../sass/index.scss */
  body .container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  /* line 235, ../sass/index.scss */
  body .container {
    width: 100%;
    padding: 0;
  }
  /* line 239, ../sass/index.scss */
  body .container #main .span3 {
    width: 100%;
  }
  /* line 242, ../sass/index.scss */
  body .container #main .span6 {
    width: 100%;
  }
  /* line 245, ../sass/index.scss */
  body .container #main .span9 {
    width: 100%;
  }
  /* line 251, ../sass/index.scss */
  body .container #main .listing-summary #search-form form span.option {
    width: 49%;
  }
  /* line 254, ../sass/index.scss */
  body .container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
  /* line 262, ../sass/index.scss */
  body .container .portletWrapper #form-widgets-interior_area-max, body .container .portletWrapper #form-widgets-lot_size-max, body .container .portletWrapper #form-widgets-baths-max, body .container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  /* line 271, ../sass/index.scss */
  body .container {
    width: 100%;
    padding: 0;
  }
  /* line 275, ../sass/index.scss */
  body .container #main .span3 {
    width: 100%;
  }
  /* line 278, ../sass/index.scss */
  body .container #main .span6 {
    width: 100%;
  }
  /* line 281, ../sass/index.scss */
  body .container #main .span9 {
    width: 100%;
  }
  /* line 287, ../sass/index.scss */
  body .container #main .listing-summary #search-form form span.option {
    width: 49%;
  }
  /* line 290, ../sass/index.scss */
  body .container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
  /* line 298, ../sass/index.scss */
  body .container .portletWrapper #form-widgets-interior_area-max, body .container .portletWrapper #form-widgets-lot_size-max, body .container .portletWrapper #form-widgets-baths-max, body .container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
@media (min-width: 401px) and (max-width: 480px) {
  /* line 307, ../sass/index.scss */
  body .container {
    width: 100%;
    padding: 0;
  }
  /* line 311, ../sass/index.scss */
  body .container #main .span3 {
    width: 100%;
  }
  /* line 314, ../sass/index.scss */
  body .container #main .span6 {
    width: 100%;
  }
  /* line 317, ../sass/index.scss */
  body .container #main .span9 {
    width: 100%;
  }
  /* line 323, ../sass/index.scss */
  body .container #main .listing-summary #search-form form span.option {
    width: 100%;
  }
  /* line 326, ../sass/index.scss */
  body .container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
  /* line 334, ../sass/index.scss */
  body .container .portletWrapper #form-widgets-interior_area-max, body .container .portletWrapper #form-widgets-lot_size-max, body .container .portletWrapper #form-widgets-baths-max, body .container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
@media (min-width: 321px) and (max-width: 400px) {
  /* line 343, ../sass/index.scss */
  body .container {
    width: 100%;
    padding: 0;
  }
  /* line 347, ../sass/index.scss */
  body .container #main .span3 {
    width: 100%;
  }
  /* line 350, ../sass/index.scss */
  body .container #main .span6 {
    width: 100%;
  }
  /* line 353, ../sass/index.scss */
  body .container #main .span9 {
    width: 100%;
  }
  /* line 359, ../sass/index.scss */
  body .container #main .listing-summary #search-form form span.option {
    width: 100%;
  }
  /* line 362, ../sass/index.scss */
  body .container #main .listing-summary #search-form form .value-range-widget {
    width: 48%;
  }
  /* line 370, ../sass/index.scss */
  body .container .portletWrapper #form-widgets-interior_area-max, body .container .portletWrapper #form-widgets-lot_size-max, body .container .portletWrapper #form-widgets-baths-max, body .container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
@media (min-width: 241px) and (max-width: 320px) {
  /* line 379, ../sass/index.scss */
  body .container {
    width: 100%;
    padding: 0;
  }
  /* line 383, ../sass/index.scss */
  body .container #main .span3 {
    width: 100%;
  }
  /* line 386, ../sass/index.scss */
  body .container #main .span6 {
    width: 100%;
  }
  /* line 389, ../sass/index.scss */
  body .container #main .span9 {
    width: 100%;
  }
  /* line 395, ../sass/index.scss */
  body .container #main .listing-summary #search-form form span.option {
    width: 100%;
  }
  /* line 398, ../sass/index.scss */
  body .container #main .listing-summary #search-form form .value-range-widget {
    width: 48%;
  }
  /* line 406, ../sass/index.scss */
  body .container .portletWrapper #form-widgets-interior_area-max, body .container .portletWrapper #form-widgets-lot_size-max, body .container .portletWrapper #form-widgets-baths-max, body .container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
@media (max-width: 240px) {
  /* line 415, ../sass/index.scss */
  body .container {
    width: 100%;
    padding: 0;
  }
  /* line 419, ../sass/index.scss */
  body .container #main .span3 {
    width: 100%;
  }
  /* line 422, ../sass/index.scss */
  body .container #main .span6 {
    width: 100%;
  }
  /* line 425, ../sass/index.scss */
  body .container #main .span9 {
    width: 100%;
  }
  /* line 431, ../sass/index.scss */
  body .container #main .listing-summary #search-form form span.option {
    width: 100%;
  }
  /* line 439, ../sass/index.scss */
  body .container .portletWrapper #form-widgets-interior_area-max, body .container .portletWrapper #form-widgets-lot_size-max, body .container .portletWrapper #form-widgets-baths-max, body .container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
