/* line 87, ../sass/index.scss */
body {
  padding: 0;
}
/* line 89, ../sass/index.scss */
body h1 {
  color: #000000;
}
/* line 92, ../sass/index.scss */
body h2 {
  color: #000000;
}
/* line 95, ../sass/index.scss */
body h3 {
  color: #000000;
}
/* line 98, ../sass/index.scss */
body h4 {
  color: #000000;
}
/* line 101, ../sass/index.scss */
body h5 {
  color: #000000;
}
/* line 104, ../sass/index.scss */
body h6 {
  color: #000000;
}
/* line 107, ../sass/index.scss */
body p {
  color: #000000;
}
/* line 110, ../sass/index.scss */
body a {
  color: #000000;
}
/* line 113, ../sass/index.scss */
body a:hover {
  color: blue;
}
/* line 116, ../sass/index.scss */
body span {
  color: #000000;
}
/* line 119, ../sass/index.scss */
body div.container {
  float: none;
  margin: 0 auto;
  padding: 0;
}
/* line 123, ../sass/index.scss */
body div.container .row {
  margin: 0;
}
/* line 125, ../sass/index.scss */
body div.container .row [class*="span"] {
  margin: 0;
  float: left;
}
/* line 130, ../sass/index.scss */
body div.container .span12 {
  width: 100%;
}
/* line 133, ../sass/index.scss */
body div.container #header-wrapper {
  background-color: transparent;
}
/* line 137, ../sass/index.scss */
body div.container #fullscreen-nav .navbar {
  margin: 0;
  min-height: 0;
  border: 0 none;
  background-color: transparent;
}
/* line 142, ../sass/index.scss */
body div.container #fullscreen-nav .navbar .navbar-collapse {
  padding: 0;
}
/* line 144, ../sass/index.scss */
body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav {
  margin: 0;
}
/* line 146, ../sass/index.scss */
body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav li {
  background-color: #ffffff;
  border: 0 none;
}
/* line 148, ../sass/index.scss */
body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav li a {
  color: #000000;
}
/* line 152, ../sass/index.scss */
body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav li:hover {
  background-color: #cccccc;
  border: 0 none;
}
/* line 154, ../sass/index.scss */
body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav li:hover a {
  color: #000000;
}
/* line 165, ../sass/index.scss */
body div.container #fullscreen-carousel .carousel-banners .carousel-banner .carousel-text {
  width: 100%;
  background-color: #000000;
}
/* line 167, ../sass/index.scss */
body div.container #fullscreen-carousel .carousel-banners .carousel-banner .carousel-text span {
  color: #ffffff;
}
/* line 174, ../sass/index.scss */
body div.container #portal-breadcrumbs {
  background-color: transparent;
  margin-top: 1em;
}
/* line 176, ../sass/index.scss */
body div.container #portal-breadcrumbs span {
  color: #000000;
}
/* line 178, ../sass/index.scss */
body div.container #portal-breadcrumbs span a {
  color: #000000;
}
/* line 185, ../sass/index.scss */
body div.container #main #content h1 {
  color: #000000;
}
/* line 188, ../sass/index.scss */
body div.container #main #content h2 {
  color: #000000;
}
/* line 191, ../sass/index.scss */
body div.container #main #content h3 {
  color: #000000;
}
/* line 194, ../sass/index.scss */
body div.container #main #content h4 {
  color: #000000;
}
/* line 197, ../sass/index.scss */
body div.container #main #content h5 {
  color: #000000;
}
/* line 200, ../sass/index.scss */
body div.container #main #content h6 {
  color: #000000;
}
/* line 203, ../sass/index.scss */
body div.container #main #content p {
  color: #000000;
}
/* line 206, ../sass/index.scss */
body div.container #main #content a {
  color: #000000;
}
/* line 209, ../sass/index.scss */
body div.container #main #content a:hover {
  color: blue;
}
/* line 212, ../sass/index.scss */
body div.container #main #content span {
  color: #000000;
}
/* line 217, ../sass/index.scss */
body div.container #main .listing.detail #listing-info {
  float: right;
}
/* line 225, ../sass/index.scss */
body div.container #main .portletWrapper .portlet .portletHeader {
  font-size: 1.5em;
}
/* line 231, ../sass/index.scss */
body div.container #main .portletWrapper .portlet .portletItem #form .form-rows #formfield-form-widgets-price_min {
  width: 49%;
  float: left;
  clear: none;
}
/* line 236, ../sass/index.scss */
body div.container #main .portletWrapper .portlet .portletItem #form .form-rows #formfield-form-widgets-price_max {
  width: 49%;
  float: right;
  clear: none;
}
/* line 241, ../sass/index.scss */
body div.container #main .portletWrapper .portlet .portletItem #form .form-rows .text-widget, body div.container #main .portletWrapper .portlet .portletItem #form .form-rows .select-widget {
  width: 100%;
}
/* line 244, ../sass/index.scss */
body div.container #main .portletWrapper .portlet .portletItem #form .form-rows .value-range-widget {
  width: 49%;
}
/* line 247, ../sass/index.scss */
body div.container #main .portletWrapper .portlet .portletItem #form .form-rows .separator {
  display: none;
}
/* line 252, ../sass/index.scss */
body div.container #main .portletWrapper .portlet .portletItem #form .form-rows .option label .label {
  color: #000000;
  vertical-align: text-top;
}
/* line 258, ../sass/index.scss */
body div.container #main .portletWrapper .portlet .portletItem #form .form-rows .collapse {
  visibility: visible;
}
/* line 262, ../sass/index.scss */
body div.container #main .portletWrapper .portlet .portletItem #form .formControls {
  text-align: center;
}
/* line 272, ../sass/index.scss */
body div.container #main #listing-search #form .form-rows .text-widget, body div.container #main #listing-search #form .form-rows .select-widget {
  width: 100%;
}
/* line 275, ../sass/index.scss */
body div.container #main #listing-search #form .form-rows .separator {
  display: none;
}
/* line 280, ../sass/index.scss */
body div.container #main #listing-search #form .form-rows .option label .label {
  color: #000000;
}
/* line 285, ../sass/index.scss */
body div.container #main #listing-search #form .form-rows .collapse {
  visibility: visible;
}

@media (min-width: 1200px) {
  /* line 304, ../sass/index.scss */
  body div.container {
    width: 1080px;
  }
  /* line 307, ../sass/index.scss */
  body div.container #main #left-column.span3 {
    width: 25%;
    margin-right: 1%;
  }
  /* line 311, ../sass/index.scss */
  body div.container #main #right-column.span3 {
    width: 25%;
    margin-left: 1%;
  }
  /* line 315, ../sass/index.scss */
  body div.container #main .span6 {
    width: 48%;
  }
  /* line 318, ../sass/index.scss */
  body div.container #main .span9 {
    width: 74%;
  }
  /* line 322, ../sass/index.scss */
  body div.container #main .listing.detail #listing-info {
    width: 45%;
  }
  /* line 332, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form span.option {
    width: 32%;
  }
  /* line 335, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  /* line 347, ../sass/index.scss */
  body div.container {
    width: 870px;
  }
  /* line 350, ../sass/index.scss */
  body div.container #main #left-column.span3 {
    width: 25%;
    margin-right: 1%;
  }
  /* line 354, ../sass/index.scss */
  body div.container #main #right-column.span3 {
    width: 25%;
    margin-left: 1%;
  }
  /* line 358, ../sass/index.scss */
  body div.container #main .span6 {
    width: 48%;
  }
  /* line 361, ../sass/index.scss */
  body div.container #main .span9 {
    width: 74%;
  }
  /* line 365, ../sass/index.scss */
  body div.container #main .listing.detail #listing-info {
    margin-top: 440px;
    width: 100%;
  }
  /* line 369, ../sass/index.scss */
  body div.container #main .listing.detail #listing-images {
    position: absolute;
    width: 100%;
  }
  /* line 377, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form span.option {
    width: 32%;
  }
  /* line 380, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 392, ../sass/index.scss */
  body div.container {
    width: 680px;
  }
  /* line 395, ../sass/index.scss */
  body div.container #main #left-column.span3 {
    width: 25%;
    margin-right: 1%;
  }
  /* line 399, ../sass/index.scss */
  body div.container #main #right-column.span3 {
    width: 25%;
    margin-left: 1%;
  }
  /* line 403, ../sass/index.scss */
  body div.container #main .span6 {
    width: 48%;
  }
  /* line 406, ../sass/index.scss */
  body div.container #main .span9 {
    width: 74%;
  }
  /* line 410, ../sass/index.scss */
  body div.container #main .listing.detail #listing-info {
    margin-top: 440px;
    width: 100%;
  }
  /* line 414, ../sass/index.scss */
  body div.container #main .listing.detail #listing-images {
    position: absolute;
    width: 100%;
  }
  /* line 422, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form span.option {
    width: 49%;
  }
  /* line 425, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  /* line 437, ../sass/index.scss */
  body div.container {
    width: 100%;
    padding: 0;
  }
  /* line 441, ../sass/index.scss */
  body div.container #main .span3 {
    width: 100%;
  }
  /* line 444, ../sass/index.scss */
  body div.container #main .span6 {
    width: 100%;
  }
  /* line 447, ../sass/index.scss */
  body div.container #main .span9 {
    width: 100%;
  }
  /* line 451, ../sass/index.scss */
  body div.container #main .listing.detail #listing-info {
    margin-top: 440px;
    width: 100%;
  }
  /* line 455, ../sass/index.scss */
  body div.container #main .listing.detail #listing-images {
    position: absolute;
    width: 100%;
  }
  /* line 463, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form span.option {
    width: 49%;
  }
  /* line 466, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
  /* line 474, ../sass/index.scss */
  body div.container .portletWrapper #form-widgets-interior_area-max, body div.container .portletWrapper #form-widgets-lot_size-max, body div.container .portletWrapper #form-widgets-baths-max, body div.container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  /* line 483, ../sass/index.scss */
  body div.container {
    width: 100%;
    padding: 0;
  }
  /* line 487, ../sass/index.scss */
  body div.container #main .span3 {
    width: 100%;
  }
  /* line 490, ../sass/index.scss */
  body div.container #main .span6 {
    width: 100%;
  }
  /* line 493, ../sass/index.scss */
  body div.container #main .span9 {
    width: 100%;
  }
  /* line 497, ../sass/index.scss */
  body div.container #main .listing.detail #listing-info {
    margin-top: 440px;
    width: 100%;
  }
  /* line 501, ../sass/index.scss */
  body div.container #main .listing.detail #listing-images {
    position: absolute;
    width: 100%;
  }
  /* line 509, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form span.option {
    width: 49%;
  }
  /* line 512, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
  /* line 520, ../sass/index.scss */
  body div.container .portletWrapper #form-widgets-interior_area-max, body div.container .portletWrapper #form-widgets-lot_size-max, body div.container .portletWrapper #form-widgets-baths-max, body div.container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
@media (min-width: 401px) and (max-width: 480px) {
  /* line 529, ../sass/index.scss */
  body div.container {
    width: 100%;
    padding: 0;
  }
  /* line 533, ../sass/index.scss */
  body div.container #main .span3 {
    width: 100%;
  }
  /* line 536, ../sass/index.scss */
  body div.container #main .span6 {
    width: 100%;
  }
  /* line 539, ../sass/index.scss */
  body div.container #main .span9 {
    width: 100%;
  }
  /* line 543, ../sass/index.scss */
  body div.container #main .listing.detail #listing-info {
    margin-top: 440px;
    width: 100%;
  }
  /* line 547, ../sass/index.scss */
  body div.container #main .listing.detail #listing-images {
    position: absolute;
    width: 100%;
  }
  /* line 555, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form span.option {
    width: 100%;
  }
  /* line 558, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form .value-range-widget {
    width: 49%;
  }
  /* line 566, ../sass/index.scss */
  body div.container .portletWrapper #form-widgets-interior_area-max, body div.container .portletWrapper #form-widgets-lot_size-max, body div.container .portletWrapper #form-widgets-baths-max, body div.container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
@media (min-width: 321px) and (max-width: 400px) {
  /* line 575, ../sass/index.scss */
  body div.container {
    width: 100%;
    padding: 0;
  }
  /* line 580, ../sass/index.scss */
  body div.container #fullscreen-nav .navbar .navbar-collapse {
    border: 0 none;
  }
  /* line 582, ../sass/index.scss */
  body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav {
    margin: 0;
  }
  /* line 584, ../sass/index.scss */
  body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav li {
    width: 100%;
  }
  /* line 592, ../sass/index.scss */
  body div.container #main .span3 {
    width: 100%;
  }
  /* line 595, ../sass/index.scss */
  body div.container #main .span6 {
    width: 100%;
  }
  /* line 598, ../sass/index.scss */
  body div.container #main .span9 {
    width: 100%;
  }
  /* line 602, ../sass/index.scss */
  body div.container #main .listing.detail #listing-info {
    margin-top: 440px;
    width: 100%;
  }
  /* line 606, ../sass/index.scss */
  body div.container #main .listing.detail #listing-images {
    position: absolute;
    width: 100%;
  }
  /* line 614, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form span.option {
    width: 100%;
  }
  /* line 617, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form .value-range-widget {
    width: 48%;
  }
  /* line 625, ../sass/index.scss */
  body div.container .portletWrapper #form-widgets-interior_area-max, body div.container .portletWrapper #form-widgets-lot_size-max, body div.container .portletWrapper #form-widgets-baths-max, body div.container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
@media (min-width: 241px) and (max-width: 320px) {
  /* line 634, ../sass/index.scss */
  body div.container {
    width: 100%;
    padding: 0;
  }
  /* line 639, ../sass/index.scss */
  body div.container #fullscreen-nav .navbar .navbar-collapse {
    border: 0 none;
  }
  /* line 641, ../sass/index.scss */
  body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav {
    margin: 0;
  }
  /* line 643, ../sass/index.scss */
  body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav li {
    width: 100%;
  }
  /* line 651, ../sass/index.scss */
  body div.container #main .span3 {
    width: 100%;
  }
  /* line 654, ../sass/index.scss */
  body div.container #main .span6 {
    width: 100%;
  }
  /* line 657, ../sass/index.scss */
  body div.container #main .span9 {
    width: 100%;
  }
  /* line 661, ../sass/index.scss */
  body div.container #main .listing.detail #listing-info {
    margin-top: 440px;
    width: 100%;
  }
  /* line 665, ../sass/index.scss */
  body div.container #main .listing.detail #listing-images {
    position: absolute;
    width: 100%;
  }
  /* line 673, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form span.option {
    width: 100%;
  }
  /* line 676, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form .value-range-widget {
    width: 48%;
  }
  /* line 684, ../sass/index.scss */
  body div.container .portletWrapper #form-widgets-interior_area-max, body div.container .portletWrapper #form-widgets-lot_size-max, body div.container .portletWrapper #form-widgets-baths-max, body div.container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
@media (max-width: 240px) {
  /* line 693, ../sass/index.scss */
  body div.container {
    width: 100%;
    padding: 0;
  }
  /* line 698, ../sass/index.scss */
  body div.container #fullscreen-nav .navbar .navbar-collapse {
    border: 0 none;
  }
  /* line 700, ../sass/index.scss */
  body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav {
    margin: 0;
  }
  /* line 702, ../sass/index.scss */
  body div.container #fullscreen-nav .navbar .navbar-collapse .navbar-nav li {
    width: 100%;
  }
  /* line 710, ../sass/index.scss */
  body div.container #main .span3 {
    width: 100%;
  }
  /* line 713, ../sass/index.scss */
  body div.container #main .span6 {
    width: 100%;
  }
  /* line 716, ../sass/index.scss */
  body div.container #main .span9 {
    width: 100%;
  }
  /* line 720, ../sass/index.scss */
  body div.container #main .listing.detail #listing-info {
    margin-top: 440px;
    width: 100%;
  }
  /* line 724, ../sass/index.scss */
  body div.container #main .listing.detail #listing-images {
    position: absolute;
    width: 100%;
  }
  /* line 732, ../sass/index.scss */
  body div.container #main .listing-summary #search-form form span.option {
    width: 100%;
  }
  /* line 740, ../sass/index.scss */
  body div.container .portletWrapper #form-widgets-interior_area-max, body div.container .portletWrapper #form-widgets-lot_size-max, body div.container .portletWrapper #form-widgets-baths-max, body div.container .portletWrapper #form-widgets-beds-max {
    float: right;
  }
}
